/* section-1-start */
.section-1{
    width: 100%;
    height: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
    background-color: #F3F3F3;

}
.section-1 h1{
    font-family: var(--general-font-famaly);
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: #252B42;
    margin-top: 20px;
}

.section-1 p{ 
    font-family: var(--general-font-famaly);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: var(--text-defoult-gray);
    max-width: 470px;
    width: 100%;
    margin: auto;
}

.section-1-row{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
width: 100%;
margin-top: 50px;
}
.section-1-card{
max-width: 230px;
width: 100%;
height: 209px;
text-align: center;
padding-top: 32px;
-webkit-transition:0.3s;
-o-transition:0.3s;
transition:0.3s;
background-color: #FFFFFF;
}
.section-1-card h2{
font-family: var(--general-font-famaly);
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
text-align: center;
letter-spacing: 0.1px;
color: var(--text-defoult-gray);
}
.section-1-card:hover{
background: #FFFFFF;
-webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* <- section-1-end -> */


/* section-2-start */
.section-2{
width: 100%;
height: 120%;
text-align: center;
padding-top: 125px;
background-color: #FAFAFA;
}
.section-2 h1{
font-family: var(--general-font-famaly);
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 57px;
letter-spacing: 0.2px;
color: #252B42;
}
.section-2 p{ 
font-family: var(--general-font-famaly);
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
text-align: center;
letter-spacing: 0.2px;
color: var(--text-defoult-gray);
max-width: 470px;
width: 100%;
margin: auto;
}
.section-2-card{
max-width: 230px;
width: 100%;
height: 321px;
text-align: left;
/* padding-top: 30px;
padding-left: 29px; */
-webkit-transition:0.3s;
-o-transition:0.3s;
transition:0.3s;
background-color: #FFFFFF;
position: relative;
}
.section-2-row{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
margin-top: 45px;
}
.section-2-mini-card{
widows: 100%;
height: 138px;
position: absolute;
bottom: 0;
}
.section-2-mini-card img{
width: 100%;
height: 100%;
}
.section-2-card h3{
margin-top: 30px;
margin-left: 29px;
font-family: var(--general-font-famaly);
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.1px;
color: #252B42;
max-width: 150px;
width: 100%;
}
.section-2-card p{
text-align: left;
margin-left: 29px;
max-width: 160px;
width: 100%;
margin-top: 10px;
}
.section-2-card:hover{
background: #FFFFFF;
-webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* <- section-2-end -> */
/* section-3-start  */
.section-3{
width: 100%;
height: 911px;
padding-top: 100px;
padding-bottom: 157px;
background-color: #ffffff;
text-align: center;
}
.section-3 h1{
font-family: var(--general-font-famaly);
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 57px;
text-align: center;
letter-spacing: 0.2px;
color: #252B42;
}
.section-3 p{ 
font-family: var(--general-font-famaly);
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
text-align: center;
letter-spacing: 0.2px;
color: var(--text-defoult-gray);
max-width: 470px;
width: 100%;
margin: auto;
}
.section-3-content{
width: 100%;
margin-top: 100px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
}
.video{
padding: 10px;
max-width: 597px;
width: 100%;
height: 442px;  
}
.section-3-about{
width: 100%;
height: 100%;
}
.section-3-about-content{
max-width: 400px;
width: 100%;
height: 130%;
margin: auto;
text-align:left;
padding-bottom: 1px;

}
.section-3-about-content h1{
text-align: left;
}
.section-3-about-content p{
max-width: 250px;
width: 100%;
margin-left: 0;
text-align: left;
}
.section-3-about-text{
max-width: 333px;
width: 100%;
height: 77px;
margin: 51px 0px 0px 0px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
    flex-wrap: wrap;
-webkit-box-align: end;
    -ms-flex-align: end;
        align-items: flex-end;
-webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
}   
.section-3-about-text h3{
font-family: var(--general-font-famaly);
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 24px;
letter-spacing: 0.2px;
color: #252B42;
max-width: 270px;
width: 100%;
}
.video iframe{
width: 100%;
height: 100%;
}
/* <- section-3-end -> */
/*  section-4-start  */
.section-4{
    width: 100%;
    background-color: #FAFAFA;
    padding-bottom: 84px;
    height: 100%;
}

.row-logo{
width: 100%;
Height:100%;
background-color: #FAFAFA;
margin: auto;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
}
.section-4-card{
margin: 10px;
}
.section-4-input{
width: 100%;
height: 124px;
background-color: #16697A;
margin-top: 20px;
padding-left: 50px;
padding-right: 50px;
padding-top: 30px;
}
.section-4-parties-input ul{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between; 
-webkit-box-align: center; 
    -ms-flex-align: center; 
        align-items: center;
}
.section-4-parties{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
}
.section-4-text h1{
font-family: var(--general-font-famaly);
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
letter-spacing: 0.1px;
color: #FFFFFF;
max-width: 258px;
width: 100%;
}
.section-4-parties-input ul li input{
max-width: 333px;
width: 100%;
height: 58px;
padding: 15px 20px;
background: #F9F9F9;
border: 1px solid #E6E6E6;
border-radius: 5px 0px 0px 5px;
} 
.section-4-parties-input ul li button{
max-Width:117px;
width: 100%;
Height:58px;
background: var(--color-defoult-orange);
border: 1px solid #E6E6E6;
border-radius: 0px 5px 5px 0px;
padding: 15px 22px;
font-family: var(--general-font-famaly);
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 28px;
text-align: center;
letter-spacing: 0.2px;
color: #FFFFFF;
-webkit-transition: all .5s;
-o-transition: all .5s;
transition: all .5s;
cursor: pointer;
}
.section-4-parties-input ul li button:hover{
background-color: transparent;
border: 1px solid var(--color-defoult-orange);
outline: 1px solid var(--color-defoult-blue);
color: var(--color-defoult-orange);
font-weight: 600;

}
/* <- section-4-end -> */
/*  section-5-end  */
.section-5{
width: 100%;
height: 100%;
background-color: #F3F3F3;
padding-top: 80px;
text-align: center;
padding-bottom: 208px;
}
.section-5 h1{
font-style: normal;
font-family:var(--general-font-famaly);
font-weight: 700;
font-size: 40px;
line-height: 57px;
letter-spacing: 0.2px;
color: #252B42;
margin-top: 20px;
}
.section-5 p{
font-family: var(--general-font-famaly);
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
text-align: center;
letter-spacing: 0.2px;
color: var(--text-defoult-gray);
margin-top: 15px;
padding-bottom: 80px;
max-width: 470px;
width: 100%; 
margin: auto;
}
.section-5-row{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
width: 100%;
}
.section-5-card{
max-Width:328px;
width: 100%;
Height:333px;
padding-top: 50px;
text-align: center;
-webkit-transition: all .5s;
-o-transition: all .5s;
transition: all .5s;
background-color: #FFFFFF;
}
.section-5-card svg{
margin-bottom: 15px;
}
.section-5-card h6{
font-family: var(--general-font-famaly);
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 24px;
text-align: center;
letter-spacing: 0.2px;
color: #252B42;
width: 100%;
}
.section-5-card h4{
font-family: var(--general-font-famaly);
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 24px;
text-align: center;
letter-spacing: 0.1px;
color: #252B42;
margin-top: 15px;
}
.section-5-card button{
border: 1px solid var(--color-defoult-orange);
border-radius: 5px;
background-color: transparent;
font-family: var(--general-font-famaly);
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 24px;
text-align: center;
letter-spacing: 0.2px;
color: #FFA62B;
padding: 10px 20px;
margin-top: 15px;
}
.section-5-card:hover{
background-color: #252B42;
}
.section-5-card:hover h4{
color: white;
}
.section-5-card:hover h6{
color: white;
}
.section-5-card:hover button{
color: white;
border:1px solid  white;
outline:1px solid  white;
}
.section-5-card:hover path{
fill: white;
}
/* <- section-5-end -> */
/* section-6-start  */
.section-6{
    width: 100%;
    height: 751px;
    padding-top: 100px;
    background-color: #FAFAFA;
}
.input-list{
    width: 100%;
    height: 100%;
    padding: 10px;
}
.input-list input{
    width: 100%;
    margin-top: 20px;
    padding: 13px 20px;
    border: 1px solid #E0E0E0;
    font-family: var(--general-font-famaly);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #828282;
}
.input-comment{
    height: 120px;
}
.input-list button{
    font-family: var(--general-font-famaly);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    border-radius: 5px;
    background: #FFA62B;
    border: none;
    padding: 15px 40px;
    margin-top: 60px;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.input-list button:hover{
    background-color: transparent;
    color: var(--color-defoult-orange);
    border:1px solid  var(--color-defoult-orange);
}
.sec-6-btn{
    width: 100%;
    text-align: center;
}
/* <- section-6-end -> */